.idea

/apps/web/dist/
/apps/ar-eye-hunter-v1/dist/
/apps/web/node_modules/
/apps/relic-hunters-v1/dist/
/apps/rallar-black-box/dist/
/apps/rallar-black-box-headless/dist/
/apps/rallar-black-box/test-results/
/apps/rallar-black-box/playwright-report/
node_modules/
.artifacts/

apps/web/dist

.DS_Store

*.tsbuildinfo

/playwright-report/
/test-results/

**.env.local**
**.env**

/tmp/**

/.pnpm-store/**